nav {
text-align: center;

}    

header {
text-align: center;
}   

section{
display: flex;
  justify-content: space-between; 
  gap: 20px;                     
  padding: 20px
}

.album {

  width: 30%;                 
  text-align: center;           
  border: 1px solid #ccc;        
  padding: 15px;
  box-sizing: border-box;       
}

.album img {
  width: 100%;                  
  aspect-ratio: 1 / 1;         
  object-fit: cover;            
  display: block;
  margin-bottom: 10px;

}

.comentarios {
text-align: center;

}

footer {
 display: flex;
  justify-content: space-between; 
  gap: 20px;                     
  padding: 20px;
  box-sizing: border-box;
 
}
.registro {
    
     width: 30%;                 
  text-align: center;           
        
  
  

}
.redes-sociales {
    
      width: 30%;                 
  text-align: center;           
    
  
  
}


.info {
  
  width: 30%;                 
  text-align: center;           
        
 

}
